body {background-color:black; font-family: arial; color: white;}
h1{color:grey;font-family: verdana;}



.maindiv{
    background-color: white;
    color: black;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
 }

.maindiv p{
    margin: 0px;
    padding-left: 90px;
}

.maindiv input[type=number]{
   margin-left: 50px;
}
.maindiv input[type=range]{
    margin-left: 12px;
 }
 
 .maindiv select{
    margin-left: 20px;
 }
 
